EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1234567890
EXPO_PUBLIC_FIREBASE_APP_ID=1:1234567890:web:abcdef123456

EXPO_PUBLIC_SQLITE_DB_NAME=LanguageLearning2.db
EXPO_PUBLIC_SPEAKING_ICON_URL=https://.../speaking.png
EXPO_PUBLIC_ADD_CATEGORY_ICON_URL=https://.../addcategory.png
EXPO_PUBLIC_UPDATE_ICON_URL=https://.../update.png
EXPO_PUBLIC_CROSS_ICON_URL=https://.../cross.png
EXPO_PUBLIC_TRASH_ICON_URL=https://.../trashcan.png
EXPO_PUBLIC_PLAY_ICON_URL=https://.../play.png
EXPO_PUBLIC_CATEGORY_ICON_BASE_URL=https://storage.googleapis.com/languagelearningexpoapp.appspot.com/categoryIcon
